<div
  class="menuFriends"
  [ngClass]="friends === true ? 'menuFriends--open' : ''"
  *ngIf="userList"
>
  <p class="menuFriends__title">Friends</p>
  <div *ngFor="let user of userList; index as i" class="menuFriends__picture">
    <img
      *ngIf="i !== 0"
      class="menuFriends__img"
      src="{data.picture.large}"
      [src]="user.picture.large"
      alt="Picture"
    />
    <p *ngIf="i !== 0" class="menuFriends__name">{{ user.name.first }}</p>
  </div>
  -->

  <button type="button" class="menuFriends__close" (click)="toggleFriends()">
    <i class="fa-solid fa-x"></i>
  </button>
</div>
