<div class="burger">
  <h5>coucou</h5>
  <!-- <div class={`burger ${burgerOpen && 'burger--open'}`}> -->
  <!-- <NavLink to="/" class={({ isActive }) => (isActive ? 'nav-link nav-link--selected' : 'nav-link')}>
        <i class="fa-solid fa-earth-europe"></i>
      </NavLink>
      <NavLink to="/map" class={({ isActive }) => (isActive ? 'nav-link nav-link--selected' : 'nav-link')}>
        <i class="fa-solid fa-person"></i>
      </NavLink> -->
  <!-- <button type="button" class="burger__close" onClick={() => toggleBurger()}>
        <i class="fa-solid fa-x"></i>
      </button> -->
</div>
